<a href="https://colab.research.google.com/github/Leo2park/final/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0_%EC%9E%91%EC%97%851%EC%9C%A0%ED%98%95_%EA%B8%B0%EC%B6%9C_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 빅분기 실기 작업 1유형 문제 모음

## 예시문제
mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소 최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/mtcars.csv')
df.head(2)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [ ]:
# min_max_scaler 직접구현하는 방법

In [ ]:
# sklearn의 MinMaxScaler 객체를 사용하는 방법

다음은 추가적으로 알아보는 내용입니다.

In [ ]:
# Standard Scaler 함수 생성

In [ ]:
# StandardScaler 객체 사용

## 2회 - 빅분기 실기

### 1-1. 보스턴 데이터
보스턴 데이터 범죄율 컬럼('CRIM')의 top10 중 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경 후, 'AGE' 변수의 값이 80이상인 것에 대한 범죄율 평균을 산출하라.

In [ ]:
## sklearn에서 더이상 boston 데이터를 제공하지 않으므로 교체합니다.
##from sklearn.datasets import load_boston
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/boston.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [ ]:
# 2-1-1)

In [ ]:
# DataFrame.sort_values 사용

### 1-2. 하우징 데이터
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 주어진 데이터의 첫번째 행 부터 순서대로 80% 까지의 데이터를 추출 후
- 'total_bedrooms' 변수의 결측값(NA)을 'total_bedrooms' 변수의 중앙값으로 대체하고,
- 대체 전의 'total_bedrooms' 변수 표준편차값과 대체 후의 'total_bedrooms' 변수 표준편차 값을 산출하여
- 대체 전 표준편차 값 - 대체 후 표준편차 값을 구해 출력한다.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
print(df.shape) # 20640
print(df.head(2))

(20640, 10)
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY

In [ ]:
# 2-1-2)
# 첫번째 행 부터 순서대로 80% 까지의 데이터를 추출
p = int(df.shape[0]* 0.8)  # 소수점 아래를 버림
p = round(df.shape[0]* 0.8)
A = df.iloc[:p, :]
# 'total_bedrooms' 변수의 결측값(NA)을 'total_bedrooms' 변수의 중앙값으로 대체
A_before = A['total_bedrooms']
A_after = A_before.fillna(A_before.median())
# 대체 전의 'total_bedrooms' 변수 표준편차값과 대체 후의 'total_bedrooms' 변수 표준편차 값을 산출
# 대체 전 표준편차 값 - 대체 후 표준편차 값
result1 = A_before.std(ddof=0) - A_after.std(ddof=0)
result2 = A_before.std(ddof=1) - A_after.std(ddof=1)
print(round(result1, 2), round(result2, 2))
print(round(result1), round(result2)) # 반올림해서 정수로 변환

1.97 1.98
2 2

In [ ]:
# sklearn - train_test_split
from sklearn.model_selection import train_test_split

A, _ = train_test_split(df, train_size=0.8, shuffle=False)
A_before = A['total_bedrooms']
A_after = A_before.fillna(A_before.median())
result = A_before.std(ddof=0) - A_after.std(ddof=0)
print(round(result, 4))

1.975

### 1-3. 하우징 데이터
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 하우징 데이터에서 'latitude' 컬럼의 이상치를 찾아 이상치들의 합을 산출하시오.
- 이상치 기준 : 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
print(df.shape)
print(df.head(2))

(20640, 10)
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY

In [ ]:
# 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)
# 2-1-3)

## 3회 - 빅분기 실기

### 1-1.캘리포니어 집값 데이터
결측치를 포함하는 모든 행을 제거한 후, 처음부터 순서대로 70%를 추출하여, 'housing_median_age' 컬럼의 사분위수 Q1의 값을 구하시오
- 주의사항 정답 제출시, 정수형으로 제출해야 함
- "https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing03.csv" 파일 사용

In [ ]:
# 한 문자형 컬럼에 빈칸 ''인 데이터 1건이 있어서
# 빈칸을 결측으로 처리시 빈칸 제거전 242건에서 빈칸 제거후 243건의 행이 제거됨
# 하지만 제거하지 않고 1분위수를 구하더라도 정답은 같음

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing03.csv")
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [ ]:
# 3-1-1)

### 1-2.연도별 나라별 유병률 데이터
2000년 데이터에 대해 국가 전체 유병률 평균 값보다 큰 값을 가진 국가 개수는?
(year 변수와 국가들의 결핵 유병률 값을 가진 데이터셋이 주어짐)

        year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
        0  1999            0     89.0     25.0    245.0   217.0              102.0
        1  2000            0    132.0      0.0    138.0    57.0              128.0
        2  2001            0     54.0     14.0    312.0    45.0               45.0
        3  2002            0      4.9      0.7     12.4     5.9                4.9

- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/worlddata.csv' 파일 사용

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/worlddata.csv")
df

,year,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua & Barbuda,Argentina,Armenia,Australia,...,Tanzania,USA,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,1999,0,89.0,25.0,245.0,217.0,102.0,193.0,21.0,261.0,...,36.0,249.0,115.0,25.0,21.0,333.0,111,6.0,32.0,64.0
1,2000,0,132.0,0.0,138.0,57.0,128.0,25.0,179.0,72.0,...,6.0,158.0,35.0,101.0,18.0,100.0,2,0.0,19.0,18.0
2,2001,0,54.0,14.0,312.0,45.0,45.0,221.0,11.0,212.0,...,1.0,84.0,220.0,8.0,11.0,3.0,1,0.0,4.0,4.0
3,2002,0,4.9,0.7,12.4,5.9,4.9,8.3,3.8,10.4,...,5.7,8.7,6.6,2.4,0.9,7.7,2,0.1,2.5,4.7

In [ ]:
# 3-1-2)

### 1-3.타이타닉 데이터
- 각 열의 결측치 비율을 확인 한 후, 결측치의 비율이 가장 높은 변수명을 구하시오
- "https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/titanic_train03.csv" 파일 사용
- 원본 데이터 : https://www.kaggle.com/c/2019-1st-ml-month-with-kakr/overview

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/titanic_train03.csv")
df

In [ ]:
# 3-1-3)

## 4회 - 빅분기 실기

### 1-1. 신상 데이터
age 컬럼에 대해 아래의 과정을 수행하고 (다) 단계의 결과값을 출력하여라.
- (가) 제 1사분위수와 제 3사분위수를 구하기
- (나) 두 값의 차이 절댓값 구하기
- (다) 그 값의 소수점 버리기

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/basic1_data04.csv')
print(df.head(2))

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [ ]:
# 4-1-1)

### 1-2. Facebook 데이터

Facebook 데이터셋을 불러와 (loves반응 + wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type이 'video'인 데이터의 갯수를 구하여라
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/fb_data04.csv' 파일 사용

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/fb_data04.csv")
print(df.head(2))

In [ ]:
# 4-1-2)

### 1-3. 넷플릭스 데이터
netflix_subset 데이터셋에서 date_added가 2018년 1월이면서 country가 United Kingdom 단독 제작인 데이터의 개수를 구하여라
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv' 파일 사용

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv")
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"

In [ ]:
# 4-1-3)

## 5회 - 빅분기 실기
- 출처 : 데이터마님
- https://www.datamanim.com/dataset/practice/ex5.html

### 1-1. 종량제 봉투 가격
20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 정수로 답하라.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/waste_bags.csv')
df.head(2)

   시도명 시군구명 종량제봉투종류 종량제봉투용도  1L가격  2L가격  5L가격  10L가격  20L가격  30L가격
0  경기도  안양시    규격봉투   생활쓰레기     0     0   150    300    550      0
1  경기도  안양시    규격봉투   생활쓰레기     0     0   150    300    550      0

In [ ]:
# 5-1-1)

### 1-2. 성인 체중 및 키 데이터
BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비만은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/height_weight.csv')
df.head(2)

   ID  height(cm)  weight(kg)
0   0       171.2        63.1
1   1       171.1        68.5

In [ ]:
# 5-1-2) 단위 조심

### 1-3. 년도별 서울 각 구의 초,중,고 전출 전입 인원
순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(2)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012

In [ ]:
# 5-1-3)