<a href="https://colab.research.google.com/github/Leo2park/final/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0_%EC%9E%91%EC%97%851%EC%9C%A0%ED%98%95_%EA%B8%B0%EC%B6%9C_Teacher_230618.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 빅분기 실기 작업 1유형 문제 모음

## 예시문제
mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소 최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/mtcars.csv')
df.head(2)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [ ]:
# min_max_scaler 직접구현하는 방법
def min_max_scaler(a):
    return (a - a.min()) / (a.max() - a.min())

# 1) qsec 컬럼을 최소 최대 척도(Min-Max Scale)로 변환
temp = min_max_scaler(df['qsec'])
#print(temp.min(), temp.max())

# 2) 0.5보다 큰 값을 가지는 레코드 수
result1 = len(temp[temp > 0.5])
result2 = temp[temp > 0.5].shape[0]
result3 = (temp > 0.5).sum()
print(result1, result2, result3)

9 9 9

In [ ]:
#print(df[['qsec']].shape, df['qsec'].shape)

In [ ]:
# sklearn의 MinMaxScaler 객체를 사용하는 방법
from sklearn.preprocessing import MinMaxScaler

# 2차원구조를 전달해야 하기 때문에 df[['qsec']]로 사용해야 함
# 또는 df['qsec'].to_frame() 가능
t = MinMaxScaler().fit_transform(df[['qsec']])
#t = MinMaxScaler().fit_transform(df['qsec'].to_frame())
result = (t>0.5).sum()
print(result)

9

다음은 추가적으로 알아보는 내용입니다.

In [ ]:
# Standard Scaler 함수 생성
def standard_scaler(a):
    return (a - a.mean()) / a.std(ddof=0)

temp = standard_scaler(df['qsec'])
print(temp.mean(), temp.std(ddof=0))

-1.4710455076283324e-15 0.9999999999999999

In [ ]:
# StandardScaler 객체 사용
from sklearn.preprocessing import StandardScaler

temp = StandardScaler().fit_transform(df[['qsec']])
print(temp.mean(), temp.std(ddof=0))  # 표준정규분포 (평균 0, 표준편차 1)

-1.4710455076283324e-15 0.9999999999999999

## 2회 - 빅분기 실기

### 1-1. 보스턴 데이터
보스턴 데이터 범죄율 컬럼('CRIM')의 top10 중 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경 후, 'AGE' 변수의 값이 80이상인 것에 대한 범죄율 평균을 산출하라.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/boston.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [ ]:
# 2-1-1) # Series.sort_values 사용
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/boston.csv')

# 1) 보스턴 데이터 범죄율 컬럼('CRIM')의 top10 구하기
A = df['CRIM'].sort_values(ascending=False).head(10)
# 2) 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경하기
df.loc[A.index, 'CRIM'] = A.iloc[-1]
# 3) (전체 데이터에서)'AGE' 변수의 값이 80이상인 것에 대한 범죄율 평균 구하기
result = df.loc[df.AGE >= 80, 'CRIM'].mean()
print(result)

In [ ]:
# 2-1-1) # DataFrame.sort_values 사용
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/boston.csv')

A = df.sort_values('CRIM', ascending=False).head(10)
# A.index -> CRIM top10
# 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경 후
df.loc[A.index, 'CRIM'] = A.iloc[-1, 0]
# 'AGE' 변수의 값이 80이상인 것에 대한 범죄율 평균을 산출하라.
result = df.loc[df.AGE >= 80, 'CRIM'].mean()
print(result)

### 1-2. 하우징 데이터
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 주어진 데이터의 첫번째 행 부터 순서대로 80% 까지의 데이터를 추출 후
- 'total_bedrooms' 변수의 결측값(NA)을 'total_bedrooms' 변수의 중앙값으로 대체하고,
- 대체 전의 'total_bedrooms' 변수 표준편차값과 대체 후의 'total_bedrooms' 변수 표준편차 값을 산출하여
- 대체 전 표준편차 값 - 대체 후 표준편차 값을 구해 출력한다.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
print(df.shape)
print(df.head(2))

(20640, 10)
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY

In [ ]:
# 2-1-2) 계산 사용
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')

# 1) 첫번째 행 부터 순서대로 80% 까지의 데이터를 추출
p = int(df.shape[0]*0.8)
p = round(df.shape[0]*0.8)
A = df.iloc[:p]
# 2) 'total_bedrooms' 변수의 결측값(NA)을 'total_bedrooms' 변수의 중앙값으로 대체
A_before = A['total_bedrooms']
A_after = A_before.fillna(A['total_bedrooms'].median())
# 3) 대체 전 표준편차 값 - 대체 후 표준편차 값을 구해 출력
result1 = A_before.std(ddof=0) - A_after.std(ddof=0)
result2 = A_before.std(ddof=1) - A_after.std(ddof=1)
print(round(result1, 2), round(result2, 2))
print(round(result1), round(result2)) # 반올림해서 정수로 변환

1.97 1.98
2 2

In [ ]:
# 2-1-2)
# sklearn - train_test_split
from sklearn.model_selection import train_test_split
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')

A, _ = train_test_split(df, train_size=0.8, shuffle=False)
A_before = A['total_bedrooms']
A_after = A_before.fillna(A_before.median())
result = A_before.std(ddof=0) - A_after.std(ddof=0)
print(round(result, 4))

1.975

### 1-3. 하우징 데이터
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 하우징 데이터에서 'latitude' 컬럼의 이상치를 찾아 이상치들의 합을 산출하시오.
- 이상치 기준 : 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [ ]:
# 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)
# 2-1-3)
import pandas as pd   # sample -> ddof=1

df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
A = df['latitude']
mean, std = A.mean(), A.std(ddof=0)  # .std(ddof=1)
lower = mean - (std * 1.5)
upper = mean + (std * 1.5)
result = A[A < lower].sum() + A[A > upper].sum()
print(result)

45815.75

In [ ]:
# 이상치에 해당하는 데이터 개수
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')

A = df['latitude']
mean, std = A.mean(), A.std(ddof=0)
lower = mean - (std * 1.5)
upper = mean + (std * 1.5)
result = A[A < lower].shape[0] + A[A > upper].shape[0]
print(result)
cond = (A < lower) | (A > upper)
result = A[cond].shape[0]
print(result)

In [ ]:
# 이상치에 해당하는 데이터 검색
cond = (A < lower) | (A > upper)
df[cond]

## 3회 - 빅분기 실기

### 1-1.캘리포니어 집값 데이터
결측치를 포함하는 모든 행을 제거한 후, 처음부터 순서대로 70%를 추출하여, 'housing_median_age' 컬럼의 사분위수 Q1의 값을 구하시오
- 주의사항 정답 제출시, 정수형으로 제출해야 함
- "https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing03.csv" 파일 사용

In [ ]:
# 한 문자형 컬럼에 빈칸 ''인 데이터 1건이 있어서
# 빈칸을 결측으로 처리시 빈칸 제거전 242건에서 빈칸 제거후 243건의 행이 제거됨
# 하지만 제거하지 않고 1분위수를 구하더라도 정답은 같음

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing03.csv")
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [ ]:
# 3-1-1)
from sklearn.model_selection import train_test_split
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing03.csv")

# 결측치 확인
#print(df.isna().sum())  # total_bedrooms        207

# 1) 결측치를 포함한 모든 행 제거
df = df.dropna(how='any', axis=0)

# 2) 처음부터 순서대로 70%를 추출
A, _ = train_test_split(df, train_size=0.7, shuffle=False)
# A = df.iloc[:int(len(df)*0.7)]  # 다른 방법

# 3) 'housing_median_age' 컬럼의 사분위수 Q1의 값 구하기
result = A['housing_median_age'].quantile(0.25)

# 4) 정수로 출력하기
print(int(result))  # 정답 : 19

19

### 1-2.연도별 나라별 유병률 데이터
2000년 데이터에 대해 국가 전체 유병률 평균 값보다 큰 값을 가진 국가 개수는?
(year 변수와 국가들의 결핵 유병률 값을 가진 데이터셋이 주어짐)

        year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
        0  1999            0     89.0     25.0    245.0   217.0              102.0
        1  2000            0    132.0      0.0    138.0    57.0              128.0
        2  2001            0     54.0     14.0    312.0    45.0               45.0
        3  2002            0      4.9      0.7     12.4     5.9                4.9

- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/worlddata.csv' 파일 사용

In [ ]:
# 3-1-2)
import pandas as pd

# 데이터 불러오기
data = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/worlddata.csv')
#print(data)
# 1) 'year'가 2000 인 데이터를 가져옴 (1개 행에 대한 데이터인데 이것을 T를 사용하여 행/열을 전환함)
data2000 = data[data['year'] == 2000].T
#print(data2000)

# 2) 국가별 유병률을 구함
# data2000에서 첫번째 행이 'year' 이므로 포함해서는 안됩니다.
A = data2000.iloc[1:, 0]
#print(data2000)

# 3) 국가 전체 유병률 평균을 구함
mean = A.mean()

# 4) 국가 전체 유병률 평균 값보다 큰 값을 가진 국가 개수를 구함
result = A[A > mean].shape[0]
print(result)  # 정답 : 76

76

### 1-3.타이타닉 데이터
- 각 열의 결측치 비율을 확인 한 후, 결측치의 비율이 가장 높은 변수명을 구하시오
- "https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/titanic_train03.csv" 파일 사용
- 원본 데이터 : https://www.kaggle.com/c/2019-1st-ml-month-with-kakr/overview

In [ ]:
# 3-1-3)
import pandas as pd

# 데이터 불러오기
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/titanic_train03.csv")

# 1) 컬럼별 결측치 개수 구하기
A = df.isna().sum()

# 2) 결측치 비율이 가장 큰 것에 대한 index 구하기
result1 = A.sort_values(ascending=False).index[0]

result2 = A.index[A.argmax()]
print(result1, result2)

Age Age

## 4회 - 빅분기 실기

### 1-1. 신상 데이터
age 컬럼에 대해 아래의 과정을 수행하고 (다) 단계의 결과값을 출력하여라.
- (가) 제 1사분위수와 제 3사분위수를 구하기
- (나) 두 값의 차이 절댓값 구하기
- (다) 그 값의 소수점 버리기

In [ ]:
# 4-1-1)
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/basic1_data04.csv')
#print(df.head(2))

# 1) 1사분위수, 3사분위수 구하기
Q1, Q3 = df['age'].quantile([0.25, 0.75])

# 2) 3사분위수 - 1사분위수해서 절대값을 구하고, 정수로 변환하기
result = int(abs(Q3 - Q1))
print(result)

### 1-2. Facebook 데이터

Facebook 데이터셋을 불러와 (loves반응 + wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type이 'video'인 데이터의 갯수를 구하여라
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/fb_data04.csv' 파일 사용

In [ ]:
# 4-1-2)
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/fb_data04.csv")

# 1) (loves반응 + wows반응)/(reactions반응) 구하기
rate = (df['loves'] + df['wows'])/ df['reactions']

# 2) 비율이 0.4보다 크고 0.5보다 작으면서 type이 'video' 인 데이터 개수구하기
cond1 = rate > 0.4
cond2 = rate < 0.5
cond3 = df['type'] == 'video'
result = len(df[cond1 & cond2 & cond3])

print(result)

### 1-3. 넷플릭스 데이터
netflix_subset 데이터셋에서 date_added가 2018년 1월이면서 country가 United Kingdom 단독 제작인 데이터의 개수를 구하여라
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv' 파일 사용

In [ ]:
# 4-1-3)
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv")

A = df['date_added']
cond1 = A.str.contains('2018')
cond2 = A.str.contains('January')
cond3 = df['country'] == 'United Kingdom'
#df[cond1 & cond2 & cond3].shape[0]
#cond = cond1 & cond2 & cond3
result = (cond1 & cond2 & cond3).sum()
print(result)

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv")

A = df['date_added'].astype('datetime64')
cond1 = (A >= '2018-01-01')
cond2 = (A <= '2018-01-31')
cond3 = df['country'] == 'United Kingdom'
result = (cond1 & cond2 & cond3).sum()
print(result)

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/nf_data04.csv")

A = df['date_added'].astype('datetime64')
cond1 = A.between('2018-01-01', '2018-01-31')
cond2 = df['country'] == 'United Kingdom'
result = (cond1 & cond2).sum()
print(result)

## 5회 - 빅분기 실기
- 출처 : 데이터마님
- https://www.datamanim.com/dataset/practice/ex5.html

### 1-1. 종량제 봉투 가격
20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 정수로 답하라

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/waste_bags.csv')
df.head(2)

   시도명 시군구명 종량제봉투종류 종량제봉투용도  1L가격  2L가격  5L가격  10L가격  20L가격  30L가격
0  경기도  안양시    규격봉투   생활쓰레기     0     0   150    300    550      0
1  경기도  안양시    규격봉투   생활쓰레기     0     0   150    300    550      0

In [ ]:
# 5-1-1)
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/waste_bags.csv')

cond = (df['20L가격'] != 0) & (df['5L가격'] != 0)
A = df[cond].copy()
A['가격차이'] = A['20L가격'] - A['5L가격']
result = round(A.groupby('시도명')['가격차이'].mean().max())
print(result)

### 1-2. 성인 체중 및 키 데이터
BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비만은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/height_weight.csv')
df.head(2)

   ID  height(cm)  weight(kg)
0   0       171.2        63.1
1   1       171.1        68.5

In [ ]:
# 5-1-2) 단위 조심
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/height_weight.csv')

df['height(M)'] = df['height(cm)']/100
df['BMI'] = df['weight(kg)']/(df['height(M)'] ** 2)
cond_초고도비만 = df['BMI'] >= 25
cond_저체중 = df['BMI'] < 18.5
result = df[cond_초고도비만 | cond_저체중].shape[0]
print(result)

### 1-3. 년도별 서울 각 구의 초,중,고 전출 전입 인원
순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

In [ ]:
# 5-1-3)  # 12개 컬럼
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')

A = df.loc[:, df.columns.str.contains('전입')].sum(axis=1)
B = df.loc[:, df.columns.str.contains('전출')].sum(axis=1)
df['순유입인원'] = A - B
# 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라
result = df.groupby('년도')['순유입인원'].max().sum()
print(result)

13853